
/*! Bookcase - Forms */
	
	// - Inline Form
	// - Rounded Inputs
	// - Grouped Inputs
	// - Stacked Form
	// - Aligned Form
	// - Inline Form Help
	// - Form Messages
	// - Label and Input Widths


// INLINE FORM

	.form-stocked, 
	.form-stacked 
		input[type="text"],
		input[type="password"],
		input[type="email"],
		input[type="url"],
		input[type="date"],
		input[type="month"],
		input[type="time"],
		input[type="datetime"],
		input[type="datetime-local"],
		input[type="week"],
		input[type="number"],
		input[type="search"],
		input[type="tel"],
		input[type="color"],
		select,
		textarea 
			padding-two-mixin(5, 10)
			margin-bottom-mixin(20)
			display: inline-block
			border-mixin(1, solid, $form-border-color)
			font-size-mixin(14)
			transition-mixin(all, 0.3, ease-in)
			box-sizing-mixin(border-box)
			-webkit-font-smoothing: antialiased

			&:focus 
				outline: 0
				outline: thin dotted \9 /* IE6-9 */
				border-color: $form-border-color-focus
			

			&[disabled] 
				cursor: not-allowed 
				background-color: $form-disabled-bg
				color: $form-disabled-color
				

		input[type="file"]:focus,
		input[type="radio"]:focus,
		input[type="checkbox"]:focus 
			outline: thin dotted $checkbox-outline-color
			outline: 1px auto $form-border-color-focus

			&:invalid:focus 
				outline-color: $form-invalid-border-color-focus
			

		.checkbox,
		.radio 
			margin-two-mixin(10, 0)
			display: block
		

		input[readonly],
		select[readonly],
		textarea[readonly] 
			background: $form-bg-color
			color: $form-input-color
			border-color: $form-border-color

			&:focus 
				background: $form-bg-color
				color: $form-input-color
				border-color: $form-border-color
				

		input:focus:invalid,
		textarea:focus:invalid,
		select:focus:invalid 
			color: $form-invalid-color
			border: thin solid $form-invalid-border-color

			&:focus 
				border-color: $form-invalid-border-color-focus
			

		select 
			border: thin solid $form-border-color

			&[multiple] 
				height: auto

		label 
			display: inline
			margin-three-mixin(5, 0, 2)
			font-size-mixin(14)

		fieldset 
			margin: 0
			padding-three-mixin(5, 0, 5)
			border: 0

		legend 
			display: block
			width: 100%
			padding-bottom-mixin(5)
			padding-top-mixin(20)
			margin-bottom-mixin(20)
			font-size-mixin(16)
			font-weight: 500;
			color: $form-legend-color
			border-bottom-mixin(1, solid, $form-legend-border-color)
			clear: both

		// Rounded Inputs
			
		input.input-rounded, 
		.input-rounded 
			border-radius-mixin(4)
			padding-two-mixin(5, 10)
		

		// Grouped Inputs
			
		.input-grouped 
			
			fieldset 
				margin-bottom-mixin(10)	
			
			input 
				display: block
				padding-mixin(10)
				margin: 0
				border-radius-mixin(0)
				position: relative
				top-mixin(-1)

				&:focus 
					z-index: 2;

				&:first-child 
					top-mixin(1)
					border-radius-corners-mixin(4, 4, 0, 0)

				&:last-child 
					top-mixin(-2)
					border-radius-corners-mixin(0, 0, 4, 4)


			button 
				margin-two-mixin(5, 0)
			


// STACKED FORM

	.form-stacked 
		input[type="text"],
		input[type="password"],
		input[type="email"],
		input[type="url"],
		input[type="date"],
		input[type="month"],
		input[type="time"],
		input[type="datetime"],
		input[type="datetime-local"],
		input[type="week"],
		input[type="number"],
		input[type="search"],
		input[type="tel"],
		input[type="color"],
		select,
		label,
		textarea 
			display: block
			float: none
		


// ALIGNED FORM

	.form-algined 
		input,
		textarea,
		select,
		label {
			text-align: right
		}

// FORM HELP

	.form, .form-message-inline 
		display: inline-block
		padding-left-mixin(5)
		color: $form-input-color
		vertical-align: middle
		font-size-mixin(14)


// FORM MESSAGES

	.form-message 
		display: block
		color: $form-input-color
		font-size-mixin(12)