
/*! Bookcase -Typography */
	
	// - Body 
	// - Headings
	// - Paragraphs
	// - Lists
	// - Links
	// - Bold and Italics
	// - Code
	// - Definitions
	// - Blockquotes
	// - Typography Margin


// BODY

	body 
		-webkit-font-smoothing: antialiased
		-moz-osx-font-smoothing: grayscale
		text-rendering: optimizeLegibility
		font-family: $font-sans-serif
		font-size-mixin($baseFontSize)
		line-height-mixin($baseLineHeight)
		color: $text-color
		background: $bg-color
	

// HEADINGS

	h1,
	h2,
	h3,
	h4,
	h5,
	h6
		font-family: $heading-font-family;

	h1 
		font-size-mixin($h1-size)
		line-height-mixin($h1-line-height)
		font-weight: $h1-weight
		color: $h1-color
	
	h2 
		font-size-mixin($h2-size)
		line-height-mixin($h2-line-height)
		font-weight: $h2-weight
		color: $h2-color
	
	h3 
		font-size-mixin($h3-size)
		line-height-mixin($h3-line-height)
		font-weight: $h3-weight
		color: $h3-color
	
	h4 
		font-size-mixin($h4-size)
		line-height-mixin($h4-line-height)
		font-weight: $h4-weight
		color: $h4-color
	
	h5 
		font-size-mixin($h5-size)
		line-height-mixin($h5-line-height)
		font-weight: $h5-weight
		color: $h5-color

	h6 
		font-size-mixin($h6-size)
		line-height-mixin($h6-line-height)
		font-weight: $h6-weight
		color: $h6-color


// PARAGRAPHS

	p 
		font-size-mixin($p-size)
		line-height-mixin($p-line-height)
		font-weight: $p-weight
		color: $p-color
		font-family: $p-font-family
		margin-top-mixin(0)


// LISTS

	ul 
		list-style: circle inside

	ol 
		list-style: decimal inside

	ul,
	ol 
		margin-top: 0
		padding-left-mixin(20)

	li ol li, 
	li ul li 
		margin-four-mixin(24, 0, 24, 32)
		font-size-mixin($li-size - 2)
		line-height-mixin($li-line-height - 2)

	li 
		font-size-mixin($li-size)
		line-height-mixin($li-line-height)
		font-weight: $li-weight
		color: $li-color
		font-family: $li-font-family
		margin-bottom-mixin(16)


// LINKS

	a
		color: $link-color
		background: transparent
		text-decoration: underline
		&:active,
		&:hover 
			outline: 0
			text-decoration: none

		&:hover 
			color: $link-hover-color
		


// DEFINITIONS

	dl 
		&:before, 
		&:after 
			content: " ";
			display: table

		&:after 
			clear: both

		dt 
			float: left
			width: 25%
			display: block
			font-weight: $font-600
			font-size-mixin(18)
			&:after 
				content: ":"

		dd 
			overflow: hidden
			display: block
			font-weight: $font-400
			font-size-mixin(16)
			line-height-mixin(20)


// BOLD & ITALICS

	// Bold

	b,
	strong,
	.b,
	.strong 
		font-weight: $font-700

	// Italics

	em,
	.em,
	.italic 
		font-style: italic


// CODE

	code 
		font-size-mixin($code-size)
		line-height-mixin($code-line-height)
		font-weight: $code-weight
		color: $code-color
		font-family: $code-font-family
		background: $code-bg-color
		border-mixin(1, solid, $code-border-color)
		padding-mixin(5)
		margin-bottom-mixin(20)
		display: block

	pre 
		padding-mixin(10)
		overflow: auto
		border-mixin(1, solid, $code-border-color)


// BLOCKQUOTES

	blockquote,
	.blockquote 
		font-family: $blockquote-font-family
		font-weight: $blockquote-weight
		color: $blockquote-color
		font-style: italic
		margin-two-mixin(32, 0)

		p 
			font-size-mixin($blockquote-size)
			line-height-mixin($blockquote-line-height)
			margin-bottom-mixin(8)

		cite 
			font-size-mixin($blockquote-size - 2)
			line-height-mixin($blockquote-line-height - 2)
			font-weight: $font-700
			font-style: normal


// TYPOGRAPHY MARGIN

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 
		margin-top: 0
		margin-bottom-mixin(32)
	
	pre,
	blockquote,
	dl,
	figure,
	table,
	p,
	ul,
	ol,
	form 
		margin-bottom-mixin(32)
	