
/*! Bookcase - Visibility Helpers */

// HIDE & SHOW

	// Mobile/Extra Small (xs) 

	.hide-mobile, .hide-sm 
		display: none
	
	.show-mobile, .show-sm 
		display: block
		
	.clear-mobile
		&:after
			display: table
			clear: both
			content: ""


	// Phablet/Small (sm) 
	
	@media only screen and (min-width: $breakpoint-phablet) 
		
		.hide-phablet, .hide-sm 
			display: none
		
		.show-phablet, .show-sm 
			display: block
		
		.clear-phablet
			&:after
				display: table
				clear: both
				content: ""
		
		.clear-mobile
			display: none


	// Tablet/Medium (md) 
	
	@media only screen and (min-width: $breakpoint-tablet) 
		
		.hide-tablet, .hide-md 
			display: none
		
		.show-tablet, .show-md 
			display: block
		
		.clear-tablet
			&:after
				display: table
				clear: both
				content: ""
		
		.clear-mobile, .clear-phablet
			display: none


	// Desktop/Large (lg) 
	
	@media only screen and (min-width: $breakpoint-desktop)
		
		.hide-desktop, .hide-lg
			display: none
		.show-desktop, .show-lg 
			display: block
		
		.clear-desktop
			&:after
				display: table
				clear: both
				content: ""
		
		.clear-mobile, .clear-phablet, .clear-tablet
			display: none

	
	// HD/Extra Large (xl) 
	
	@media only screen and (min-width: $breakpoint-hd)
		
		.hide-hd, .hide-xl
			display: none
		
		.show-hd, .show-xl 
			display: block
		
		.clear-hd
			&:after
				display: table
				clear: both
				content: ""
		
		.clear-mobile, .clear-phablet, .clear-tablet, .clear-desktop
			display: none
