
// Bookcase - Variables

	// - Base
	// - Grid
	// - Padding
	// - Margins
	// - Colors
	// - Typography
	// - Buttons
	// - Tables
	// - Z-index


//  BASE 

	$baseFontSize: 		16 !default;
	$baseLineHeight: 	22 !default;


//  GRID

	// Columns

	$grid-columns: 				12 !default;
	$offset-columns: 			($grid-columns - 1) !default;

	$flex-columns: 				12 !default;
	$flex-offset-columns: 		($flex-columns - 1) !default;


	// Containers

	$container-mobile:		100% !default;	// Container Mobile/Extra Small (xs)
	$container-phablet:		460 !default;	// Container Phablet/Small (sm)
	$container-tablet:		720 !default;	// Container Tablet/Medium (md)
	$container-desktop:		940 !default;	// Container Desktop/Large (lg)
	$container-hd:			1260 !default; 	// Container HD/Extra Large (xl)

	$container-wide:		100% !default;	// Container wide is used for full length rows


	// Breakpoints

	$breakpoint-mobile: 	360px !default;		// Breakpoint Mobile/Extra Small (xs)
	$breakpoint-phablet:	480px !default;		// Breakpoint Phablet/Small (sm)
	$breakpoint-tablet: 	740px !default;		// Breakpoint Tablet/Medium (md)
	$breakpoint-desktop: 	960px !default;		// Breakpoint Desktop/Large (lg)
	$breakpoint-hd: 		1280px !default;	// Breakpoint HD/Extra Large (xl)


	// Gutters

	$gutter: 					10 !default;	// Gutter Mobile/Extra Small (xs)
	$gutter-phablet:			10 !default;	// Gutter Phablet/Small (sm)
	$gutter-tablet: 			10 !default;	// Gutter Tablet/Medium (md)
	$gutter-desktop: 			10 !default;	// Gutter Desktop/Large (lg)
	$gutter-hd: 				10 !default;	// Gutter HD/Extra Large (xl)
	$gutter-wide:				40 !default;	// Gutter Wide

	$flex-gutter: 				10 !default;	// Flex Gutter Mobile/Extra Small (xs)
	$flex-gutter-phablet:		10 !default;	// Flex Gutter Phablet/Small (sm)
	$flex-gutter-tablet: 		10 !default;	// Flex Gutter Tablet/Medium (md)
	$flex-gutter-desktop: 		10 !default;	// Flex Gutter Desktop/Large (lg)
	$flex-gutter-hd: 			10 !default;	// Flex Gutter HD/Extra Large (xl)
	$flex-gutter-wide:			40 !default;	// Flex Gutter Wide


//	PADDING

	$padding-small: 	10 !default;
	$padding-medium: 	20 !default;
	$padding-large: 	30 !default;
	$padding-xl: 		40 !default;
	$padding-xxl: 		50 !default;


//	MARGIN

	$margin-small: 		10 !default;
	$margin-medium: 	20 !default;
	$margin-large: 		30 !default;
	$margin-xl: 		40 !default;
	$margin-xxl: 		50 !default;


//	COLORS

	// White and Black

	$white: #FFFFFF !default;
	$black: #000000 !default;

	// Grayscale

	$gray-lightest: 	lighten($black, 95%) !default;
	$gray-lighter: 		lighten($black, 80%) !default;
	$gray-light: 		lighten($black, 65%) !default;
	$gray: 				lighten($black, 50%) !default;
	$gray-dark: 		lighten($black, 35%) !default;
	$gray-darker: 		lighten($black, 20%) !default;
	$gray-darkest: 		lighten($black, 5%) !default;

	// Color Scheme - Enter your color scheme variables below



	// Main Color Scheme

	$text-color:			$gray-darker !default;
	$link-color:			$gray !default;
	$link-hover-color:		$gray-darker !default;
	$bg-color:				$white !default;


	// Forms

	$form-input-color:				$gray !default;
	$form-border-color: 			$gray !default;
	$form-border-color-dark: 		$gray-dark !default;
	$form-border-color-focus: 		$gray-darker !default;
	$form-shadow-color: 			$gray-darker !default;
	$form-bg-color: 				$white !default;

	// File, Radio, Checkbox
	$checkbox-outline-color: 		$gray !default;

	// Legend
	$form-legend-color: 			$gray !default;
	$form-legend-border-color: 		$gray !default;

	// Disabled
	$form-disabled-bg: 				$gray-lighter !default;
	$form-disabled-color: 			$gray-dark !default;

	// Invalid
	$form-invalid-color: 				$gray-lighter !default;
	$form-invalid-border-color: 		$gray-dark !default;
	$form-invalid-border-color-focus: 	$gray-darker !default;

	// Help
	$form-help-color: 					$gray !default;


//	TYPOGRAPHY

	// Font Pairings 

	// Sans-Serif Font
	$raleway: 'Raleway', Arial ,Helvetica Neue ,Helvetica, Tahoma, Verdana, Segoe, sans-serif !default;

	// Serif Font
	$buenard: 'Buenard', Georgia, Times, Times New Roman, serif !default;

	// Monospace Font
	$courier-new: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace !default;


	// Font Families

	$font-sans-serif: 	$raleway !default;

	$font-serif:		$buenard !default;

	$font-monospace:	$courier-new !default;


	// Font Weights

	$font-100: 		100 !default;
	$font-200: 		200 !default;
	$font-300: 		300 !default;
	$font-400: 		400 !default;
	$font-500: 		500 !default;
	$font-600: 		600 !default;
	$font-700: 		700 !default;
	$font-800: 		800 !default;
	$font-900: 		900 !default;


	// Headings, Paragraphs, Lists, and Blockquotes

	$heading-font-family: 		$font-sans-serif !default;

	$h1-size: 					80 !default;
	$h1-line-height: 			($h1-size + 2);
	$h1-weight: 				bold !default;
	$h1-color: 					$gray-darker !default;

	$h2-size: 					60 !default;
	$h2-line-height: 			($h2-size + 2);
	$h2-weight: 				bold !default;
	$h2-color: 					$gray-darker !default;

	$h3-size: 					40 !default;
	$h3-line-height: 			($h3-size + 2);
	$h3-weight: 				bold !default;
	$h3-color: 					$gray-darker !default;

	$h4-size: 					30 !default;
	$h4-line-height: 			($h4-size + 2);
	$h4-weight: 				bold !default;
	$h4-color: 					$gray-darker !default;

	$h5-size: 					24 !default;
	$h5-line-height: 			($h5-size + 2);
	$h5-weight: 				bold !default;
	$h5-color: 					$gray-darker !default;

	$h6-size: 					18 !default;
	$h6-line-height: 			($h6-size + 2);
	$h6-weight: 				bold !default;
	$h6-color: 					$gray-darker !default;

	$p-size: 					18 !default;
	$p-line-height: 			($p-size + 6);
	$p-weight: 					normal !default;
	$p-color: 					$gray-darker !default;
	$p-font-family: 			$font-serif !default;

	$li-size: 					18 !default;
	$li-line-height: 			($li-size + 2);
	$li-weight: 				normal !default;
	$li-color: 					$gray-darker !default;
	$li-font-family: 			$font-serif !default;

	$code-size: 				16 !default;
	$code-line-height: 			($code-size + 2);
	$code-weight: 				normal !default;
	$code-border-color:			$gray !default;
	$code-bg-color:				$gray-lighter !default;
	$code-color: 				$gray-darker !default;
	$code-font-family: 			$font-monospace !default;

	$blockquote-size: 			18 !default;
	$blockquote-line-height: 	($blockquote-size + 6);
	$blockquote-weight: 		normal !default;
	$blockquote-color:  		$gray-darker !default;
	$blockquote-font-family: 	$font-serif !default;


	// Mega Headings

	$heading-large: 	40 !default;
	$heading-jumbo: 	50 !default;
	$heading-mega: 		60 !default;


//	BUTTONS

	$btn-bg-color:						$gray !default;
	$btn-bg-hover-color:				darken($gray, 10%) !default;
	$btn-link-color:					$gray !default;
	$btn-link-hover-color:				darken($gray, 10%) !default;
	$btn-color:							$white !default;
	$btn-hover-color:					$white !default;
	$btn-font-family:					$font-sans-serif !default;
	$btn-font-weight:					700 !default;

	$btn-outline-size:					3 !default;
	$btn-outline-style:					solid !default;
	$btn-outline-color:					$gray !default;
	$btn-outline-hover-color:			darken($gray, 10%) !default;
	$btn-outline-font-color:			$gray !default;

	$btn-rounded-radius:				5 !default;
	$btn-pill-radius:					30 !default;

	$btn-font-size:						14 !default;
	$btn-line-height:					($btn-font-size + 2) !default;
	$btn-vertical-padding:				10 !default;
	$btn-horizontal-padding:			20 !default;

	$btn-small-font-size:				12 !default;
	$btn-small-line-height:				($btn-small-font-size + 2) !default;
	$btn-small-vertical-padding:		10 !default;
	$btn-small-horizontal-padding:		20 !default;

	$btn-medium-font-size:				16 !default;
	$btn-medium-line-height:			($btn-medium-font-size + 2) !default;
	$btn-medium-vertical-padding:		15 !default;
	$btn-medium-horizontal-padding:		25 !default;

	$btn-large-font-size:				18 !default;
	$btn-large-line-height:				($btn-large-font-size + 2) !default;
	$btn-large-vertical-padding:		20 !default;
	$btn-large-horizontal-padding:		30 !default;

	$btn-mega-font-size:				24 !default;
	$btn-mega-line-height:				($btn-mega-font-size + 2) !default;
	$btn-mega-vertical-padding:			20 !default;
	$btn-mega-horizontal-padding:		30 !default;


// TABLES

	$table-margin-top:					10 !default;
	$table-margin-bottom:				10 !default;

	$table-border-color:				$gray !default;
	$table-border-style:				solid !default;
	$table-border-width:				2 !default;

	$table-cell-padding:				5 !default;
	$table-cell-font-size:				12 !default;
	$table-cell-font-weight:			400 !default;
	$table-cell-color:					$gray-dark !default;

	$table-caption-color:				$gray-darker !default;
	$table-caption-font-size:			14 !default;
	$table-caption-font-weight:			700 !default;
	$table-caption-padding-bottom:		10 !default;

	$table-foot-color:					$gray-darker !default;
	$table-foot-bg-color:				$gray-lighter !default;

	$table-striped-background:			$gray-lighter !default;

	$table-mini-padding-vertical:		5 !default;
	$table-mini-horizontal-vertical:	5 !default;

	$table-hover-background:			$gray !default;

	$table-active-background:			$table-hover-background !default;


//	Z-INDEX

	$zindex-1000: 	1000 !default;
	$zindex-1100: 	1100 !default;
	$zindex-1200: 	1200 !default;
	$zindex-1300: 	1300 !default;
	$zindex-1400: 	1400 !default;
	$zindex-1500: 	1500 !default;
	$zindex-1600: 	1600 !default;
	$zindex-1700: 	1700 !default;
	$zindex-1800: 	1800 !default;
	$zindex-1900: 	1900 !default;
	$zindex-2000: 	2000 !default;
